@import "utilities";

@media (min-width: 501px) and (max-width: 1024px) {
  #navbar {
    margin: auto;

    .menu-wrap {
      display: flex;
      flex: none;
      margin: auto;
      padding: 0;
    }

    .container-1 {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }

    .menu-social {
      display: flex;
    }

    .menu-search-bar {
      display: flex;
      margin: auto;

      a {
        padding-top: 20px;
      }
      form {
        display: none;
      }
    }
  }

  #main-head {
    margin: auto;

    .container {
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      img {
        height: 60%;
        width: 60%;
        padding: 20px 15px;
      }

      .container-head {
        li:nth-child(1n) {
          border-right: none;
          height: 45px;
        }

        .toggler {
          display: none;
        }

        ul {
          list-style: none;

          li {
            display: inline-block;
          }
        }
      }

      .menu-social {
        margin-left: -100px;
      }
    }
  }

  #showcase {
    .container-showcase {
      padding: 0;
      margin: auto;
      .inside-container {
        padding: 30px 50px;
      }
    }
  }

  #grid {
    margin: auto;
    .container-boxes {
      .box-1,
      .box-2,
      .box-3,
      .box-4,
      .box-5,
      .box-6 {
        padding: 70px;

        #toggler {
          left: 43%;
          top: 62%;
          opacity: 0;
        }
        #toggler:checked {
          left: 43%;
          top: 88%;
        }

        h2 {
          font-size: 1rem;
        }
      }
    }
    .container-boxes-1 {
      .box-span {
        padding: 0;
      }

      h3 {
        font-size: 0.8rem;
      }

      .box-p {
        padding-left: 10px;
      }

      .box-7,
      .box-8,
      .box-9 {
        padding: 0px;

        img {
          width: 90%;
        }

        > div {
          padding-left: 10px;

          p {
          }
        }

        .calendar {
          width: 50px;
        }
      }
    }
  }

  #footer {
    .container {
      display: inline;

      .f-box-1 {
        padding-left: 20px;
        > div {
          width: 100%;
        }
      }

      .f-box-2 {
        margin-top: 0px;
      }

      .f-box-3 {
        width: 100%;

        .text-img {
          width: 70%;
        }
        .text {
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 501px) and (max-width: 950px) {
  #main-head {
    .container {
      .container-head ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
          justify-content: center;
          display: flex;
        }
      }
    }
  }

  @media (min-width: 501px) and (max-width: 861px) {
    #footer {
      padding: 0;
      .container {
        padding-left: 30px;

        > div {
          display: grid;
          grid-template-areas:
            "f-box-1 f-box-2"
            "f-box-3 f-box-3";
          grid-template-columns: none;

          .f-box-1 {
            grid-area: f-box-1;
            width: 100%;
          }
          .f-box-2 {
            grid-area: f-box-2;
            margin-right: 120px;
          }

          .f-box-3 {
            grid-area: f-box-3;
            margin-top: -40px;

            .text-img {
              padding-left: 100px;
            }
          }
        }
      }
    }
  }
}
